.topbar {
  width: 97vw;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topLeft{
  margin-left: -20px;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: rgb(16, 122, 221);
  cursor: pointer;
}

.topRight{
    display: flex;
    align-items: center;
    
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  color: #555;
}

.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.link {
  text-decoration: none;
  color: #ffffff;
  height: 100%;
  align-items: center;
  border-radius: 4px;
}
@media (max-width:800px) {
  .topRight{
    margin-right: 0px;
  }
  .topbar{
    width: 115vw;
  }

}