@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");
 * {
	 margin: 0;
	 padding: 0;
}
 body {
	 
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 text-align: center;
}
.App{
	margin-top: 50px;
	align-items: center;
}
 h1 {
	 margin: 2rem 0;
	 font-weight: 400;
}
 .m {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}
 section {
	 display: flex;
	 width: 80rem;
	 margin-bottom: 2rem;
     
     
}

 .button {
	 border: 10;
	 text-transform: uppercase;
	 padding: 0.3rem 1.5rem;
	 background-color: rgb(255, 255, 255);
	 border-color: #dbdbdb;
	 font-weight: 500;
	 font-family: "Kanit", sans-serif;
	 border-radius: 0.25rem;
	 font-size: 1rem;
	 margin-right: 0.25rem;
}
 


 
 @media only screen and (max-width: 75rem) {
	 section {
		 width: 100%;
		 flex-direction: column;
	}
}
 .bt{
    border: 10px ;
    padding: 0.3px 1.5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: rgb(175, 177, 175);
    font-weight: 500;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-top: 50px;
    width: 30rem;
    height: 30px;
 }
 .table1{
	 margin-top: 20px;
	 border: 2px solid rgb(89, 92, 89);
	 width: 70%;
	 background-color: rgb(102, 161, 238);
	 min-width: 300px;
	 max-width: 300px;
 }
 .table2{
	margin-top: 20px;
	border: 0px solid rgb(207, 207, 207);
	width: 70%;
	background-color: rgb(255, 255, 255);
	min-width: 360px;
	max-width: 360px;
}

.input-list{
  border:0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 5px 5px;
  width: 200px;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 24px;
  transition: 0.25s;
}
.addB{
	border-radius: 24px;
}
.input-list:focus{
  width: 220px;
  border-color: #2ecc71;
}

.mcell {
	background-color: #e8ecf0;
	margin: 6px;
	border-radius: 0 0 4px 4px;
	display: inline-table;
	box-shadow: 0px 3px 5px #bababa7d;
	min-width: 400px;
	max-width: 400px;
  }
.mcolor1:before,.mcolor2:before,.mcolor3:before,.mcolor4:before {
    height: 4px;
    width: 100%;
    position: absolute;
    top: -4px;
    left: 0;
    content: '';
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.mcolor1:before {
    background: linear-gradient(to right, #c774e9 0%, #dc6a84 100%);
}
.mcolor2:before {
    background: linear-gradient(to right, #fe8f78 0%, #feb142 100%);
}
.mcolor3:before {
    background: linear-gradient(to right, #949efb 0%, #64aef7 100%);
}
.mcolor4:before {
    background: linear-gradient(to right, #76d2a6 0%, #79d3eb 100%);
}
.story{
    color:#4c4d61!important;
}
.story i,.task-name i {
    float: right;
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
}
.mcell-title{
    font-size: 15px;
    margin: 0 -14px;
    padding: 10px 10px 12px;
    font-weight: bold;
}
.cover{
	width: 100%;
	
}