.statusLine {
  width: 80%;
  margin: 0 0.5rem;


}
h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 1rem 0;
  }

@media only screen and (max-width: 75rem) {
  .statusLine {
    width: initial;
  }
}

.le{
  text-align:right;
  top: 10px;
}
