/* ./src/index.css */

@tailwind components;
@tailwind utilities;

.task {
	 padding: 1rem;
	 margin-bottom: 0.5rem;
	 border: 1px solid rgb(0, 0, 0);
	 border-radius: 0.25rem;
}

 .task form {
	 display: flex;
	 flex-direction: column;
	 text-align: center;
	 align-items: center;
	 margin: 1px 0rem;
}
 .task form .input {
	 background-color: transparent;
	 border-radius: 0.25rem;
	 color: rgb(24, 21, 21);
	 text-align: center;
	 display: flex;
	 font-family: "Kanit", sans-serif;
}

 .task form .input::placeholder {
	 color: rgb(167, 167, 167);
}
 .task form .title {
	 margin-top: 1.5rem;
	 margin-bottom: 1.5rem;
	 padding: 0.5rem 0;
	 width: 100%;
	 font-size: 17px;
}

 .task form.saved {
	 flex-direction: column;
	 align-content: center;
	 
}
 .task form.saved .title {
	 margin: 20px;
	 border-color: transparent;
	 font-family: Georgia, Times, 'Times New Roman', serif;
}
 .task form.saved .title:hover {
	 border-color: transparent;
	 cursor: default;
	 display: block;
}


.mcell-task {
    background-color: #fff;
    padding: 4px 8px;
    margin: 10px -6px 10px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #8080800d;
    list-style-type: none;

}

.story i,.task-name i {
    float: right;
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
}
.task-name,.task-details,.task-contributors{
    display: block;
    font-weight: normal;
}
.task-name{
    font-size: 19px;
}
.task-due i,
.task-due{
    display: inline-block;
    width: 48%;
    font-weight: normal;
    font-size: 14px;
	text-align: left;
	margin-left: -30px;
}
.task-contributors {
    text-align: right;
    display: inline-block;
    width: 50%;
}
.task-contributors img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.task-contributors span{
    text-align: left
}
.button-edit{
	text-align: left;
}