.home, h1{
    font-size: 30px;
    letter-spacing: -1.5px;
    line-height: 40px;
    color: #3d474d;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}
.home,h2,.h3{
    color: #adadad;
    font-weight: 100;
    font-size: 30px;
}
.home img{
    padding-left: 150px;
}
@media (max-width:800px) {
    
    .home h1{
        padding: 50px;
        width: 100%;
        font-weight: 400;
        flex-direction: column;
    }    
    
    
    .home img{
        width: 150vw;
        margin-bottom: 40px;
        margin-left: -130px;
    }
}
