/* 
.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(251, 251, 255);
  position: sticky;
  top: 50px;
  padding-left: 0px;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 50px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(240, 240, 255);
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
} */

.navbar {
  height: 80px;
  display: flex;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #2a82f5;
  width: 200px;
  height: 130vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.linkk {
  display: flex;
  align-items: center;
  left: -20px;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.linkk {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.linkk:hover {
  background-color: #86ffab;
}

.nav-menu-items {
  width: 100%;
  
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  margin-top: -20px;
  margin-left: -35px;
  display: flex;
  align-items: center;
}

span {
  margin-left: 0px;
}
.sidebarTitle {
  font-size: 13px;
  text-align: center;
  color: rgb(187, 186, 186);
}
.sidebarWrapper {
  padding: 0px;
  margin-left: -50px;
}
