
.container{
  display: flex;
  margin-bottom: 10px;
  margin-left: 0%;
}


.link{
  text-decoration: none;
  color: inherit;
}
.cen{
  margin-top: 300px;
}

.dot {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  border-radius: 50%;
}
.dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}

.loading .dot:nth-child(1) {
  background: #0f52ba;
}
.loading .dot:nth-child(1)::before {
  animation-delay: 0.8s;
}

@keyframes wave {
  50%, 75% {
    transform: scale(2.5);
 }
  80%, 100% {
    opacity: 0;
 }
}