@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
 .Appp {
	 text-align: center;
	 display: flex;
	 transform: translate(50%,5%);
	 justify-content: center;
	 align-items: center;
	 font-family: "Open Sans", sans-serif;
}
 .App-logoo {
	 animation: App-logo-spin infinite 20s linear;
	 height: 40vmin;
	 pointer-events: none;
}
 .App-headerr {
	 background-color: #282c34;
	 min-height: 100vh;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 font-size: calc(10px + 2vmin);
	 color: white;
}
 .App-linkk {
	 color: #61dafb;
}
 @keyframes App-logo-spin {
	 from {
		 transform: rotate(0deg);
	}
	 to {
		 transform: rotate(360deg);
	}
}
 .loginn {
	 width: 27em;
	 height: 40em;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 margin-top: 5px;
	 position: relative;
	 z-index: 99;
}
 .loginn .containerr {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background-color: #fff;
	 box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
	 border-radius: 4px;
	 position: relative;
	 z-index: 99;
	 width: 100%;
	 height: 100%;
	 z-index: 99;
	 padding: 17px 10px;
}
 .loginn .right-sidee {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 height: 90%;
	 background-color: #3498db;
	 width: 100%;
	 position: absolute;
	 right: -34%;
	 border-radius: 6px;
	 z-index: 1;
	 transition: all 400ms ease-in-out;
	 cursor: pointer;
	 box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
}
 .loginn .right-sidee.right {
	 right: -40%;
	 align-items: flex-end;
}
 .loginn .right-sidee.right:hover {
	 right: -45%;
}
 .loginn .right-sidee.left {
	 right: 40%;
	 align-items: flex-start;
}
 .loginn .right-sidee.left:hover {
	 right: 45%;
}
 .loginn .right-sidee .textt {
	 font-size: 21px;
	 font-weight: 500;
	 color: #fff;
	 margin-right: 3em;
	 margin-left: 3em;
}
 .btnn {
	 font-size: 21px;
	 padding: 5px 20px;
	 border: 0;
	 background-color: #3498db;
	 color: #fff;
	 border-radius: 3px;
	 transition: all 250ms ease-in-out;
	 cursor: pointer;
}
 .btnn:hover {
	 background-color: #2386c8;
}
 .btnn:focus {
	 outline: none;
}
 @media (max-width:800px) {
	 .appp{
		transform: translate(50%,5%);
	 }
	 .loginn {
		width: 27em;
		height: 42em;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5px;
		margin-left: -130px;
		position: relative;
		z-index: 99;
   }
   .loginn .right-sidee {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 90%;
	background-color: #3498db;
	width: 100%;
	position: absolute;
	left: -20%;
	top: -20px;
	border-radius: 6px;
	z-index: 2;
	transition: all 400ms ease-in-out;
	cursor: pointer;
	box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);
}
.loginn .containerr {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
	border-radius: 4px;
	position: relative;
	z-index: 99;
	width: 100%;
	height: 100%;
	top: 45px;
	z-index: 99;
	padding: 17px 10px;
	margin-bottom: 50px;
}
 }