.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.base-container .header {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}
.base-container .content {
  display: flex;
  flex-direction: column;
}
.base-container .content .image {
  width: 21em;
}
.base-container .content .image img {
  width: 100%;
  height: 100%;
}
.base-container .content .form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.base-container .content .form .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}
.base-container .content .form .form-group label {
  font-size: 20px;
}
.base-container .content .form .form-group input {
  margin-top: 6px;
  min-width: 18em;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
  border: 0;
  border-radius: 4px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
}
.base-container .content .form .form-group input:focus {
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #3474db b2;
}
.base-container .footer {
  margin-top: 3em;
}
.btnn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.btnn:hover {
  background-color: #2386c8;
}
.btnn:focus {
  outline: none;
}