/* ./src/index.css */
@tailwind components;
@tailwind utilities;

.top{
    margin-top: 70px;
    width: 100%;
}
@media (max-width:800px) {
    .mo{
        width: 100%;
    }
    .top{
    margin-top: 70px;
    width: 70%;
    margin-right: -48px;
}


}

